@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@400;700&family=Fira+Sans&family=Poppins:wght@200;400;500;600&family=Roboto:ital,wght@0,400;0,900;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* 
font-family: 'Alkatra', cursive;
font-family: 'Fira Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Playfair Display', serif;
*/
