.container {
  text-align: center;
  color: purple;
}

h1 {
  color: orange;
  margin-bottom: 30px;
}

.btn-forgot {
  background: red;
  color: white;
  margin-right: 10px;
  border: none;
  padding: 8px 20px;
}

.btn-login {
  background: purple;
  color: white;
  border: none;
  padding: 8px 20px;
}

p {
  color: orange;
  margin-top: 20px;
}

p a {
  color: red;
}

